interactions:
- request:
    body: null
    headers:
      Authorization:
      - OBSCURED
      X-Amz-Date:
      - OBSCURED
      X-Amz-Security-Token:
      - OBSCURED
    method: GET
    uri: https://lambda.us-west-2.amazonaws.com/2015-03-31/functions/
  response:
    body:
      string: '{"Functions":[{"Description":"An event-driven Lambda function for auto
        remediating EFS resource policies","TracingConfig":{"Mode":"Active"},"VpcConfig":{"VpcId":"OBSCURED'
    headers:
      Content-Type:
      - application/json
      x-amzn-RequestId: OBSCURED
    status:
      code: 200
      message: OK
version: 1
